##############
# Global/OSX #
##############

.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


###########
# Haskell #
###########

cabal.project.local*
dist
dist-newstyle
.ghc.environment*
stack.yaml
*.o
*.hi
*.chi
*.chs.h